@media screen and (max-device-width: 480px){
    padding-top:10px;
    max-width:350px;
#wrapper{
     display:block;
    text-align:center;
}

.icon{
    padding-bottom:15px;
    max-width:60px;
}
nav{
   font:rgb(96,190,174);
   margin:auto;
    width:100%;
    display:inline-block;
    font-size:1.4em;
    padding:10px;
}
aside{
    display:none;
}
.discuss{
    height:248px;
    max-width:100%;
}
.title-box{
    max-width:100%;
}

}