body{
    max-width:100%;
    text-align:center;
}
#wrapper{
     display:block;
    text-align:center;
    }
.title-box{
    max-width:100%;
}
nav{
   color:rgb(96,190,174);
   margin:auto;
    width:100%;
    display:inline-block;
    font-size:2rem;
    padding:10px;
}
.discuss{
    max-width:100%;
    float:left;
}
nav ul{
  
  list-style: none;
  padding-left:0px;
}
nav ul li{
  display:inline-block;
  margin:auto; 
  background-color:rgb(239,248,247);
  border-right: 1px solid rgb(217,239,236);
  padding:10px;
  border-bottom:10px;
}
.option>p{
    font-size:1rem;

}
time{
    color:#AAA;
}
@media screen and (max-device-width: 480px){
    body{
    padding-top:10px;
    max-width:350px;
    }
    #wrapper{
     display:block;
    text-align:center;
    }
    nav{
        color:rgb(96,190,174);
        margin:auto;
        width:350px;
        display:inline-block;
        font-size:1.4em;
        padding:10px;
        background-color:white;
    }
    nav ul{
    
    list-style: none;
    padding-left:0px;
    }
    nav ul li{
    display:inline-block;
    margin:auto; 
    }
    aside{
        display:none;
    }
    .discuss{
        height:248px;
        max-width:100%;
    }
    .title-box{
        max-width:100%;
    }
    .title{
    color:rgb(96,190,174); 
    }
    .hero-unit{
        max-width:100%;
    }
}