@media screen and (max-device-width: 480px){
    padding-top:10px;
    max-width:350px;
#wrapper{
     display:block;
    text-align:center;
}

.icon{
    padding-bottom:15px;
    max-width:60px;
}
nav{
   color:rgb(96,190,174);
   margin:auto;
    width:100%;
    display:inline-block;
    font-size:1.4em;
    padding:10px;
}
nav ul{
  
  list-style: none;
  padding-left:0px;
}
nav ul li{
  display:inline-block;
  margin:auto; 
}
aside{
    display:none;
}
.discuss{
    height:248px;
    max-width:100%;
}
.title-box{
    max-width:100%;
}
.title{
   color:rgb(96,190,174); 
}
.hero-unit{
    max-width:100%;
}
}