@media screen and(min-device-width:992px){
body{
    max-width:100%;
    float:right;
    width:80%;
}
aside{
    float:left;
    width:20%;
}
#wrapper{
     display:block;
    text-align:center;
    }
.title-box{
    max-width:100%;
}
nav{
   color:rgb(96,190,174);
   margin:auto;
    width:100%;
    display:inline-block;
    font-size:2rem;
    padding:10px;
}
.discuss{
    max-width:100%;
    float:left;
}
nav ul{
  
  list-style: none;
  padding-left:0px;
}
nav ul li{
  display:inline-block;
  margin:auto; 
  background-color:rgb(239,248,247);
  border-right: 1px solid rgb(217,239,236);
  padding:10px;
  border-bottom:10px;
}
.option>p{
    font-size:1rem;

}
time{
    color:#AAA;
}
}